
body {
    background: #f5f7fa;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.game-card {
    max-width: 500px;
    width: 100%;
    border-radius: 15px;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.10);
    text-align: center;
}
.scramble-text {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 8px;
    margin-bottom: 25px;
    color: #4f46e5;
}
#msg {
    height: 24px;
    font-weight: 500;
    font-size: 17px;
}
